@font-face {
  font-family: "Peace-Sans";   /*Can be any text*/
  src: local("Peace Sans Webfont"),
    url("./assets/fonts/Peace Sans Webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Pilkius-Romeus";   /*Can be any text*/
  src: local("Pilkius Romeus"),
    url("./assets/fonts/PilkiusRomeus-YwDL.ttf") format("truetype");
}


* {
	box-sizing: border-box;
}

html {
	margin: 0;
}

body {
	margin: 0;
	background-color: #d76ee7;
	font-family: 'Pilkius-Romeus', sans-serif;
	color: #fff;
    overflow: hidden;
}


main {
	position: relative;
	/*/justify-content: center;
	align-items: center;*/
	background: #f36eeb;
	width: 1200px;
	min-height: 100vh;
	margin: auto;
	padding: 40px 75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bootscreen--top-text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    font-size: 22px;
}

.bootscreen--top-bubble-logo {
    width: auto;
    height: 85px;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.bootscreen--top-bubble-hero-text {
    font-family: "Peace-sans";
    font-size: 30px;
    font-weight: 100;
    margin-top: 0px;
}


.bootscreen--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.bootscreen--bottom-img {
    height: 400px;
    width: auto;
    margin:auto;
    display: block;
}

.bootscreen--bottom-inner {
    position: relative;
}

.bootscreen--bottom-inner-text {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
}

.category--top-text {
    font-weight: 100;
    font-size:22px;
    font-family: "Peace-sans";
}

.category-screen {
    width: 300px;
    margin:auto;
}

.category--options {
    display: inline-block;
    position: relative;
    width: 145px;
}

.category--options > img {
    width: 100%;
}

.category--options > div {
    color: #000;
}

.centered_text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quiz-screen--top-bar {
    display: flex;
    height: 45px;
    max-height: 45px;
    width: 660px;
    justify-content: space-around;
    align-items: center;
    margin:auto;
}

.quiz-screen--back-arrow {
    height: 45px;
    cursor: pointer;
}

.quiz-screen--top-bar-title {
    font-size: 20px;
    font-family: Peace-sans;
    font-weight: 100;
    text-transform: uppercase;
}

.quiz-screen--question-area {
    width: 650px;
    margin: auto;
}

.quiz-screen--question {
    margin:auto;
    width: 75%;
    margin-top: 25px;
}
.quiz-screen--question > h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
}

.quiz-screen--option-area {
    margin:auto;
    width: 650px;
    display: grid;
    justify-content: center;
    margin-top: 60px;
}

.quiz-screen--wrapper {
    position: relative;
    width: 220px;
}

.quiz-screen--option-text {
    position: absolute;
    top: 22%;
    left: 10%;
    color: #000;
    width: 70%;
    font-size: 17px;
}

.quiz-screen--option-image {
    width: 200px;
}

@media only screen and (max-width: 600px) {
	main {
		width: 90% !important;
		padding: 10px 15px;
		padding-bottom: 40px;
		min-height: 90vh;
		margin-top: 1vh;
	}

    .quiz-screen--question {
        margin-top: 10px;
    }

    .quiz-screen--option-area {
        transform: translate(-10%, 0px);
        margin-top: 40px;
    }

    .quiz-screen--option-area, .quiz-screen--top-bar, .quiz-screen--question-area {
        width: 100%;
    }
}
